<section id='resume'>
  <div id='profile-image'>
    <img src="<%= @image %>">
  </div>

  <div id='name-address'>
    <h1><%= @name %></h1><br>
    <p><%= @address %></p><br><br>
    <a href="<%= @linkedin %>">Check out my Linked In</a>
  </div>

  <div id='education'>
    <h1>Education</h1><br>
    <p><%= @education %></p>
  </div>

  <div id='work'>
    <h1>Work Experience</h1><br>
    <p><%= @work %></p>
  </div>
</section>